<button (click)="toggleVoiceRecognition()">{{ started ? 'Stop voice recognition' : 'Start voice recognition' }}</button>
<p>
  I heard {{ msg }}
</p>
<p>
  Context is {{ context }}
</p>
<div [ngSpeechContext]="['pizza']">
  Say pizza
  <div *ngFor="let pizza of pizzas">
    <app-pizza [pizza]="pizza"></app-pizza>
  </div>
  <button (click)="morePizza()" [ngSpeechActionContext]="['pizza']"
    ngSpeechActionCommand="plus"
    [ngSpeechAction]="morePizza">Plus</button>
  <button (click)="lessPizza()" [ngSpeechActionContext]="['pizza']"
    ngSpeechActionCommand="Not good"
    [ngSpeechAction]="lessPizza">Not good</button>
  <span *ngIf="good">{{ good.message }}</span>
</div>
<div [ngSpeechContext]="['stop']">
    Say stop
</div>
<div [ngSpeechContext]="['comment']">
  <span ngSpeechActionCommand="record" [ngSpeechActionContext]="['comment']"
    [ngSpeechAction]="recordStart">Say "Comment", then "Record".</span>
  <textarea>{{ comment }}</textarea>
  <span ngSpeechActionCommand="over" [ngSpeechActionContext]="['comment']"
    [ngSpeechAction]="recordStop">Say "Over" when your message is complete.</span>
</div>

